@import "styles/Font";
@import "styles/Color";

.header1 {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid $light-grey;
}

.headerText {
  font-family: Arvo, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  color: $main-color;
}

.searchLabel {
  display: flex;
  width: 718px;
  height: 38px;
  background: $light-grey;
  border: 4px solid $main-button;
  box-sizing: border-box;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
}

.searchInput {
  height: 100%;
  width: 100%;
  border: none;
  background-color: $light-grey;
  font-size: 18px;
  @include NanumGothicBold;
  line-height: 23px;
  &:focus {
    outline: none;
  }
}

.profileEclipse {
  width: 38px;
  height: 38px;
  border-radius: 9999px;
  background-color: $dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
