@import "styles/Font";
@import "styles/Buttons";

.container {
  width: 1440px;
  height: 100%;
  display: flex;
  // border: 1px solid grey;
}

.mainContainer {
  width: 1140px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #f2f2f2;

  .title {
    font-size: 25px;
    @include NanumGothicBold;
    line-height: 40px;
    margin-top: 20px;
    margin-left: 32px;
  }

  .questionTitle {
    width: 1075px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 20px auto;

    .icon {
      color: #588a69;
      width: 40px;
      height: 40px;
    }

    .titleInput {
      width: 1024px;
      height: 47px;
      line-height: 47px;
      padding-left: 10px;
      color: #588a69;
      font-size: 20px;
      @include NanumGothicBold;
      border: 1px solid #588a69;
      border-radius: 5px;
    }
  }

  // .questionBox {
  //   width: 1075px;
  //   height: 600px;
  //   border: 1px solid #588a69;
  //   border-radius: 5px;
  //   font-size: 15px;
  //   @include NanumGothicRegular;
  //   margin: 0px auto 0px auto;
  // }

  .button {
    @include normal-button;
    width: 150px;
    height: 50px;
    margin: 20px auto 30px auto;
  }
}

.sideContainer {
  width: 300px;

  .sideTitle {
    color: #588a69;
    font-size: 20px;
    @include NanumGothicBold;
    margin-bottom: 10px;
  }

  .category {
    width: 245px;
    margin: 80px auto 20px auto;

    .categorySelect {
      width: 245px;
      height: 35px;
      border: 1px solid #588a69;
      border-radius: 5px;
      font-size: 15px;
      @include NanumGothicRegular;
    }
  }

  .tag {
    width: 245px;
    margin: 0 auto 20px auto;

    .tagList {
      width: 245px;
      height: fit-content;

      .chip {
        height: 30px;
        margin: 5px 5px 0 0;
        font-size: 15px;
        border: 1px solid #588a69;
        border-radius: 5px;
      }
    }

    .tagInput {
      width: 245px;
      height: 35px;
      border: 1px solid #588a69;
      border-radius: 5px;
      font-size: 15px;
      padding-left: 10px;
      margin-bottom: 5px;
    }
  }

  .help {
    width: 245px;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;

    .helpIcon {
      color: #588a69;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    div {
      font-size: 15px;
      @include NanumGothicBold;
      color: #588a69;
      line-height: 20px;
    }
  }
}
