@import "styles/Font";
.tagsPage {
  display: flex;
  flex-direction: column;
  padding-right: 43px;
  padding-left: 43px;
  padding-top: 42px;
  @include NanumGothicRegular;
  .tagsPageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .headerInput {
      width: 300px;
      height: 40px;
    }

    .buttonWrapper {
      display: flex;
      .button {
        width: 95px;
        height: 40px;
        @include NanumGothicExtraBold;
        color: black;
        margin-left: 14px;
        background-color: #93c5a4;
      }
    }
  }
  .tagsPageBody {
    background: rgba(242, 242, 242, 0.49);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    row-gap: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    .tagLine {
      display: flex;
      padding: 0px;
      justify-content: space-between;
    }
  }
  footer {
    margin-top: 20px;
  }
}
