@import "styles/Font";
@import "styles/Color";

.profile {
  display: flex;

  .profileLeft {
    width: 500px;
    border-right: #f2f2f2 solid 1px;

    .basicProfile {
      height: 400px;
      border-bottom: #f2f2f2 solid 1px;
      padding: 10px;

      .basicProfileEdit {
        height: 30px;
        margin-bottom: 15px;

        .editIcon {
          float: right;
          background: none;
          border: none;
        }
      }

      .basicProfileMain {
        display: flex;
        flex-direction: column;
        align-items: center;

        .basicProfileUp {
          display: flex;
          width: 350px;
          height: 150px;
          margin-bottom: 30px;

          .profileImage {
            width: 150px;
            height: 150px;
            border-radius: 150px;
            border: 1px solid #f2f2f2;
            overflow: hidden;
          }

          .basicProfileRight {
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .username {
              @include NanumGothicBold;
              font-size: 25px;
              margin-bottom: 10px;
            }
            .point {
              display: flex;

              div {
                @include NanumGothicRegular;
                font-size: 20px;
                text-decoration: underline;
              }

              .pointIcon {
                color: $main-color;
                width: 25px;
                height: 25px;
                margin-right: 10px;
              }
            }
          }
        }

        .basicProfileDown {
          display: flex;
          flex-direction: column;
          align-items: center;

          .introduction {
            width: fit-content;
            display: flex;
            border-bottom: 2px solid $main-color;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;

            .pinIcon {
              color: $main-color;
              width: 25px;
              height: 25px;
            }

            div {
              @include NanumGothicBold;
              font-size: 20px;
              color: $main-color;
              margin-right: 7px;
            }
          }

          .introductionTextBox {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            .introductionText {
              @include NanumGothicRegular;
              text-align: center;
              white-space: pre-line;
              line-height: 25px;
            }
          }
        }
      }
    }

    .schoolInfo {
      height: 125px;
      border-bottom: #f2f2f2 solid 1px;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      padding: 0px 20px;

      .schoolInfoLeft {
        @include NanumGothicBold;
        margin-top: 15px;

        div {
          margin-bottom: 7px;
        }
      }

      .schoolInfoRight {
        color: $main-color;
        margin-top: 5px;

        .listIcon {
          width: 30px;
          height: 30px;
        }
      }
    }

    .accountManager {
      height: 275px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        width: 170px;
        height: 40px;
        background-color: $main-color;
        color: white;
        @include NanumGothicBold;
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
  }

  .profileRight {
    width: 940px;

    .statistics {
      height: 400px;
      border-bottom: #f2f2f2 solid 1px;
    }

    .myQuestion {
      height: 400px;
    }
  }
}
