@import "styles/Font";
@import "styles/Buttons";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .className {
    font-size: 25px;
    @include NanumGothicBold;
    line-height: 40px;
    margin: 20px 0 20px 32px;
  }

  .bottom1 {
    width: 1075px;
    height: 35px;
    margin: 20px auto;
    display: flex;
    align-items: center;

    .pagination {
      margin-left: calc(1075px / 2);
      transform: translateX(-50%);
    }

    .writeButton {
      @include special-button;
      width: 120px;
      height: 35px;
      margin-left: auto;
    }
  }

  .bottom2 {
    display: flex;
    justify-content: center;

    .searchCondition {
      width: 125px;
      height: 35px;
      font-size: 15px;
      border-radius: 5px;
      margin-right: 10px;
    }

    .search {
      width: 300px;
      height: 35px;
      font-size: 15px;
      border: 1px solid #c4c4c4;
      border-radius: 5px;
    }
  }
}
