@import "styles/Font";
@import "styles/Color";

.commentContainer {
  margin-top: 15px;
  border-bottom: 1px solid $dark-grey;

  .upperLine {
    display: flex;
    align-items: center;

    div {
      font-size: 15px;
      @include NanumGothicRegular;
    }
  }

  .lowerLine {
    display: flex;
    align-items: center;
    margin-left: 28px;
    margin-bottom: 5px;

    button {
      width: fit-content;
      font-size: 15px;
      @include NanumGothicBold;
      color: $main-color;
    }

    div {
      margin-left: 10px;
      font-size: 15px;
      @include NanumGothicRegular;
    }
  }

  .accountCircleIcon {
    color: $dark-grey;
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}
