@import "styles/Font";
@import "styles/Color";
@import "QuestionPreview.module";
@import "styles/Buttons";

.questionBox {
  width: 1075px;
  height: fit-content;
  border: 1px solid $main-color;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto 20px auto;

  .questionTitle {
    display: flex;
    align-items: center;

    .questionMarkIcon {
      width: 30px;
      height: 40px;
      color: $main-color;
      margin-right: 5px;
    }

    div {
      color: $main-color;
      font-size: 20px;
      @include NanumGothicBold;
      line-height: 40px;
    }

    .button {
      @include normal-button;
    }
  }

  .moreTags {
    width: 25px;
    height: 25px;
    color: $main-color;
  }

  .questionText {
    font-size: 15px;
    @include NanumGothicRegular;
    img {
      max-height: 500px;
      max-width: 100%;
    }
  }

  .questionBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .questionInfo {
      display: flex;
      align-items: center;

      .questionUser {
        font-size: 15px;
        @include NanumGothicBold;
        margin-right: 10px;
        margin-left: 10px;
        line-height: 25px;
      }

      .questionTime {
        font-size: 15px;
        @include NanumGothicRegular;
        line-height: 25px;
      }

      .answerCount {
        font-size: 15px;
        @include NanumGothicRegular;
        line-height: 25px;
        color: $main-color;
        margin-right: 10px;
      }
    }

    .questionButtons {
      display: flex;

      .questionButton {
        display: flex;
        align-items: center;
        margin-left: 10px;
        color: black;

        .questionButtonIcon {
          color: $main-color;
          width: 20px;
          height: 20px;
          margin-right: 2px;
        }
        &:hover {
          cursor: pointer;
        }

        div {
          font-size: 15px;
          @include NanumGothicRegular;
          line-height: 25px;
        }
      }
    }
  }

  .commentSection {
    margin-top: 15px;

    .commentDivider {
      background-color: $dark-grey;
      margin-bottom: 15px;
    }

    .commentTitle {
      @include NanumGothicBold;
      color: $main-color;
      font-size: 20px;
      margin-bottom: 15px;
    }

    .writeComment {
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        width: 910px;
        height: 35px;
        border: 1px solid $main-color;
        border-radius: 5px;
        font-size: 15px;
        @include NanumGothicRegular;
        padding: 0 10px;
      }

      button {
        width: 50px;
        height: 35px;
        background-color: $main-color;
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 15px;
        @include NanumGothicBold;
      }
    }
  }

  .commentClosed {
    display: none;
  }

  .accountCircleIcon {
    color: $dark-grey;
    width: 25px;
    height: 25px;
  }
}
