@import "styles/Font";
@import "styles/Color";
@mixin tag {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 85px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 13px;
  @include NanumGothicRegular;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.questionPreview {
  width: 400px;
  height: 40px;
  display: flex;
  background-color: $light-grey;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .previewContent1 {
    width: 25px;
    margin-right: 10px;
  }

  .previewContent2 {
    color: $main-color;
    @include NanumGothicBold;
    font-size: 15px;
    margin-right: 10px;
    max-width: 180px;
    cursor: pointer;
  }

  .previewContent2_2 {
    color: $main-color;
    @include NanumGothicBold;
    font-size: 15px;
    margin-right: 10px;
    max-width: 350px;
    overflow: hidden;
    height: 33px;
    margin-top: -13px;
    cursor: pointer;
  }

  .previewContent3 {
    @include tag;
    background-color: $tag1;
    margin-right: 10px;
  }

  .previewContent4 {
    @include tag;
    background-color: $tag2;
  }
}
