@import "styles/Font";
.container {
  background-color: #e5e3c9;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  margin: 73px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  width: 574px;
  height: 754px;
  max-height: 100%;

  .pageItem {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  &.left {
    background: #588a69;
    border-radius: 0 100px 100px 0;

    .pageItem {
      flex: 1;
    }

    .iconsContainer {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-width: 100%;
    }

    hr {
      border: 5px solid #375440;
    }

    .snugg {
      @include NanumGothicBold;
      text-align: left;
      min-width: 100%;
      font-size: 96px;
      line-height: 131px;
    }

    .description {
      @include NanumGothicBold;
      text-align: right;
      min-width: 100%;
      font-size: 36px;
      line-height: 49px;
      color: white;
      margin-top: 20px;
    }
  }

  &.right {
    background: #b9f1ccb2;
    border-radius: 100px 0 0 100px;

    .logoContainer {
      @include NanumGothicBold;
      font-size: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .input {
      background: white;
      border-radius: 20px;
      border: none;
      height: 75px;
    }

    .bottomText {
      flex: 0;
      bottom: 28px;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}
