@import "styles/Font";
@import "styles/Color";

@mixin alignCenter {
  display: flex;
  justify-content: center;
}

.insideBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.inputLine {
  display: flex;
  justify-content: right;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text {
    color: $main-color;
    @include NanumGothicBold;
    font-size: 25px;
    margin-top: 10px;
  }
}

.middle {
  width: 431px;
  height: 179px;
  @include alignCenter;
  flex-direction: column;
  justify-content: space-between;
}

.bottom {
  @include alignCenter;
}

.text {
  margin-right: 10px;
  @include NanumGothicBold
}

