@import "styles/Font";
@import "styles/Color";

.container {
  width: 1075px;
  height: 60px;
  margin: 0 auto 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;

  border: 1px solid $light-grey;

  &:hover .postTitle {
    text-decoration: underline;
  }

  .postInfo {
    display: flex;

    .postNum {
      width: 90px;
    }

    .postTitle {
      width: 700px;
      color: $main-color;
    }

    .postWriter {
      width: 130px;
    }

    .createdAt {
      width: 115px;
      text-align: right;
    }
  }
}
