@font-face {
  font-family: NanumGothic;
}

@mixin NanumGothicRegular {
  font-family: NanumGothic, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin NanumGothicBold {
  font-family: NanumGothic, sans-serif;
  font-style: normal;
  font-weight: 600;
}

@mixin NanumGothicExtraBold {
  font-family: NanumGothic, sans-serif;
  font-style: normal;
  font-weight: 800;
}

