html,
body {
  padding: 0;
  margin: 0;
  font-family: NanumGothic, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-main: #588A69;
  --color-button1-background: #EA910C;
  --color-button1-foreground: #FFFFFF;
}
