html,
body {
  padding: 0;
  margin: 0;
  font-family: NanumGothic, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-main: #588a69;
  --color-button1-background: #ea910c;
  --color-button1-foreground: #ffffff;
}

/* 텍스트에디터 css */
.ProseMirror:focus {
  outline: none;
}
