@import 'Font';
@mixin button_default {
  width: 80px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  justify-content: center;
  @include NanumGothicBold;
  font-size: 17px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  &:hover {
    cursor: pointer;
  }
}

.header2 {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  padding-right: 30px;
}
.buttonGroup {
  display: flex;
}
.unSelectedButton {
  @include button_default;
}
.questionButton {
  @include button_default;
  width: 120px;
  height: 35px;
  color: white;
  background: #ea910c;
  font-size: 18px;
}
