.pageWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.pageHeader {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.pageContent {
  width: 100%;
  height: 100%;
  display: flex;
}
.pageMain {
  border: 1px solid #F2F2F2;
  width: calc(100% - 300px);
}
.pageSideBar {
  border: 1px solid #F2F2F2;
  width: 300px;
}

