.mainHeader {
  font-family: Nanum Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  height: 80px;
  border-bottom: 1px solid #F2F2F2;
}
