@import 'Font';
@mixin tag {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 85px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 13px;
  @include NanumGothicRegular;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.preview {
  padding-left: 30px;
  border-bottom: #f2f2f2 1px solid;
}
.previewHeader1 {
  display: flex;
  align-items: center;
  height: 55px;
}
.previewHeader1Text {
  @include NanumGothicExtraBold;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 10px;
}

.previewHeaderTag {
  @include tag;
}

.bg1 {
  background-color: #588a69;
}
.bg2 {
  background-color: #68a37c;
}
.bg3 {
  background-color: #79ba8f;
}
.previewHeader2 {
  display: flex;
  align-items: center;
  height: 50px;
  @include NanumGothicExtraBold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #588a69;
}
.previewBody {
  margin-bottom: 10px;
  @include NanumGothicRegular;
  font-size: 15px;
}
