@import "styles/Color";
.editor {
  width: 1075px;
  height: fit-content;
  min-height: 300px;
  margin: 0 auto 0 auto;
  border: 1px solid $main-color;
  border-radius: 5px;
  cursor: text;

  .menubar {
    cursor: initial;
    height: 45px;
    border-bottom: 1px solid $main-color;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 0 10px;

    display: flex;
    align-items: center;

    button {
      width: 35px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button:hover {
      color: $main-color;
    }

    .imageInput {
      display: none;
    }
  }

  .writer {
    font-size: 15px;
    padding: 0 15px;
  }

  img {
    max-height: 500px;
    max-width: 100%;
  }
}
