@import "Font";
.sideComponent {
  padding-left: 18px;
  padding-right: 18px;
}

.sideComponentHeader {
  @include NanumGothicExtraBold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  height: 50px;
  display: flex;
  align-items: center;
}
.sideComponentContent {
  height: 300px;
  background-color: #e5ead9;
}
