.sideComponent {
  padding-left: 18px;
  padding-right: 18px;
}

.sideComponentHeader {
  font-family: Nanum Gothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  height: 50px;
  display: flex;
  align-items: center;
}
.sideComponentContent {
  height: 300px;
  background-color: #E5EAD9;
}