@import "Font";
.tagBox {
  width: 200px;
  height: 200px;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: none;
  @include NanumGothicRegular;
  line-height: 21px;
  background-color: #E5E3C9;
  .tagName {
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #35523F;
  }
  .tagContents {
    width: 190px;
    height: 90px;
    font-size: 11px;
    line-height: 15px;
    color: #588A69;
  }
  .tagCount {
    font-size: 11px;
    line-height: 15px;
    color: #000000;
  }
}
