.TagStatBox {
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  border: 1px solid #588A69;
  font-family: NanumGothic;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  color: #35523F;
}