@import "Buttons";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  margin-bottom: 30px;
}

.button {
  @include button1;
  padding: 5px 10px;
  line-height: 1;
}