name: CD

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script_stop: true
          script: |
            cd ${{ secrets.ROOT_DIR }}
            echo "========== git pull       =========="
            git pull
            echo "========== yarn install    =========="
            yarn install
            echo "========== yarn run build  =========="
            yarn build
            echo "========== pm2 reload ... =========="
            pm2 reload ${{ secrets.PM2_NAME }}
